<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>surla.mobi file upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bridging the gap between web, brick, and mobile">
    <meta name="author" content="Tomasz Janczuk">
  </head>
  <body>
    <form method="POST" enctype="multipart/form-data">
      <p>File to upload: <input type="file" name="upfile"/></p>
      <p><input type="submit" value="Upload"/></p>
    </form>
  </body>
</html>
