      <style>
        .hero-unit a { color: inherit; text-decoration: none; }
      </style>
      
      <div class="hero-unit">
        <a href="http://surla.mobi">
          <h1>surla.mobi</h1>
          <p>Bridging web, brick, and mobile</p>
        </a>
      </div> 