<!DOCTYPE html>
<html>
  <head>
    <% include head.common.ejs %>
    <style>
        .sm-icon { display: inline-block; background-size: 100%; width: 100px; height: 100px; text-indent: -999em; text-align: left; }
        .sm-icon.login { background: url("images/noun_project_7717.svg"); }
        .sm-icon.forms { background: url("images/noun_project_6119.svg"); }
        .sm-icon.payment { background: url("images/noun_project_1418.svg"); }
        .sm-icon.remote { background: url("images/noun_project_5491.svg"); }
        .sm-icon.survey { background: url("images/noun_project_1908.svg"); }
        .sm-icon.upload { background: url("images/noun_project_6172.svg"); }
        .sm-icon.sniffer { background: url("images/noun_project_5048.svg"); }
        .sm-center { text-align: center; }
        .span3 a { color: inherit; text-decoration: none; }
    </style>
  </head>
  <body>
    <div class="container">
      <%include header.common.ejs %>
      <div class="row">
        <div class="span3 sm-center">
            <a href="http://upload.surla.mobi/upload">
              <span class="sm-icon upload">&nbsp;</span>
              <p class="lead">Upload<p>
            </a>
        </div>
        <div class="span3 sm-center">
            <span class="sm-icon forms"/>&nbsp;</span>
            <p class="lead muted">Web forms<br>(coming soon)</p>
        </div>
        <div class="span3 sm-center">
            <a href="http://payment.surla.mobi/payment">
              <span class="sm-icon payment">&nbsp;</span>
              <p class="lead">Payments<p>
            </a>
        </div>  
        <div class="span3 sm-center">
            <a href="http://remote.surla.mobi/remote">
              <span class="sm-icon remote">&nbsp;</span>
              <p class="lead">Remote control<p>
            </a>
        </div>      
      </div>
      <div class="row">
        <div class="span3 sm-center">
            <span class="sm-icon survey"/>&nbsp;</span>
            <p class="lead muted">Surveys<br>(coming soon)</p>
        </div>      
        <div class="span3 sm-center">
            <a href="http://login.surla.mobi/login">
              <span class="sm-icon login">&nbsp;</span>
              <p class="lead">Login<p>
            </a>
        </div>  
        <div class="span3 sm-center">
            <a href="http://sniffer.surla.mobi/sniffer">
              <span class="sm-icon sniffer">&nbsp;</span>
              <p class="lead">Sniffer<p>
            </a>
        </div>  
      </div>   

      <hr/>

      <footer>
        <div class="row">
            <div class="span2">
                &copy; surla.mobi 2012
            </div>
            <div class="span4 offset6" class="muted" style="text-align: right">
                <a href="/noun">The Noun Project Attributions</a>
            </div>
        </div>
      </footer>       
    </div> <!-- /container -->
  </body>
</html>