<!DOCTYPE html>
<html>
  <head>
    <% include head.common.ejs %>
    <style>
        .sm-icon { display: inline-block; background-size: 100%; width: 50px; height: 50px; text-indent: -999em; text-align: left; }
        .sm-icon.login { background: url("images/noun_project_7717.svg"); }
        .sm-icon.forms { background: url("images/noun_project_6119.svg"); }
        .sm-icon.payment { background: url("images/noun_project_1418.svg"); }
        .sm-icon.remote { background: url("images/noun_project_5491.svg"); }
        .sm-icon.survey { background: url("images/noun_project_1908.svg"); }
        .sm-icon.upload { background: url("images/noun_project_6172.svg"); }
        .sm-icon.chat { background: url("images/noun_project_2782.svg"); }
        .sm-attrib { margin-top: 15px; }
    </style>
  </head>
  <body>
    <div class="container">
      <%include header.common.ejs %>
      <div class="row">
        <div class="span12">
          <h2>The Noun Project Attributions</h2>
        </div>
      </div>
      <div class="row">
        <div class="span1">
          <span class="sm-icon login"/>&nbsp;</span>
        </div>
        <div class="span11 sm-attrib">
          <a href="http://thenounproject.com/noun/login/#icon-No7717" target="_blank">Login</a> designed by <a href="http://thenounproject.com/brandon" target="_blank">Brandon Manning</a> from The Noun Project
        </div>
      </div>
      <div class="row">
        <div class="span1">
          <span class="sm-icon forms"/>&nbsp;</span>
        </div>
        <div class="span11 sm-attrib">
          <a href="http://thenounproject.com/noun/written-document/#icon-No6119" target="_blank">Written Document</a> designed by <a href="http://thenounproject.com/tlb" target="_blank">Thomas Le Bas</a> from The Noun Project
        </div>
      </div>
      <div class="row">
        <div class="span1">
          <span class="sm-icon payment"/>&nbsp;</span>
        </div>
        <div class="span11 sm-attrib">
          <a href="http://thenounproject.com/noun/money/#icon-No1418" target="_blank">Money</a> designed by <a href="http://thenounproject.com/oystein.arbo" target="_blank">Øystein W. Arbo</a> from The Noun Project
        </div>
      </div>
      <div class="row">
        <div class="span1">
          <span class="sm-icon remote"/>&nbsp;</span>
        </div>
        <div class="span11 sm-attrib">
          <a href="http://thenounproject.com/noun/remote-control/#icon-No5491" target="_blank">Remote Control</a> designed by <a href="http://thenounproject.com/paultynes" target="_blank">Paul Tynes</a> from The Noun Project
        </div>
      </div>
      <div class="row">
        <div class="span1">
          <span class="sm-icon survey"/>&nbsp;</span>
        </div>
        <div class="span11 sm-attrib">
          <a href="http://thenounproject.com/noun/document/#icon-No1908" target="_blank">Document</a> designed by <a href="http://thenounproject.com/mattsaling" target="_blank">Matt Saling</a> from The Noun Project
        </div>
      </div>
      <div class="row">
        <div class="span1">
          <span class="sm-icon chat"/>&nbsp;</span>
        </div>
        <div class="span11 sm-attrib">
          <a href="http://thenounproject.com/noun/chat/#icon-No2782" target="_blank">Chat</a> designed by <a href="http://thenounproject.com/somerandomdude" target="_blank">P.J. Onori</a> from The Noun Project
        </div>
      </div>
    </div> <!-- /container -->
  </body>
</html>