<!DOCTYPE html>
<html>
  <head>
    <% include head.common.ejs %>
    <script src="/scripts/surlamobi.js"></script>
    <style>
        .sm-icon { display: inline-block; background-size: 100%; width: 100px; height: 100px; text-indent: -999em; text-align: left; }
        .sm-center { text-align: center; }
        .sm-qr {
          min-height: 400px;
          height: auto !important;
          height: 400px;
        }
    </style>

    <script type="text/javascript">
      $(function () {
        $('#qr').surlamobi({
          interaction: {
            type: 'Sniffer',
          },
          done: function () {
            $('#qr').css('text-align', 'left');
          }
        });
      });
    </script>

  </head>
  <body>
    <div class="container">
      <%include header.common.ejs %>
      <div class="row">
        <div class="span8 sm-center">
          <p class="lead">Scan the code to control the picture</p>
          <div id="qr" class="sm-qr"></div>
        </div>
        <div class="span4">
            <p class="lead">How it works</p>
            <p>Gestures and events are relayed from the phone to the web site.
            <p class="lead">Applications</p>
            <ul>
              <li>Gaming</li>
              <li>Presentations</li>
              <li>Big screen control</li>
              <li>Device control</li>
              <li>Bring touch gestures to non-touch screens</li>
            </ul>
        </div>
      </div>   

      <hr/>

      <footer>
        <div class="row">
            <div class="span2">
                &copy; surla.mobi 2012
            </div>
            <div class="span3 offset7" class="muted" style="text-align: right">
                <a href="/noun">The Noun Project Attributions</a>
            </div>
        </div>
      </footer>       
    </div> <!-- /container -->
  </body>
</html>