<!DOCTYPE html>
<html>
  <head>
    <% include ../head.common.ejs %>
    <script src="/scripts/surlamobi.js"></script>
    <style>
        .sm-center { text-align: center; }
        .sm-qr {
          min-height: 400px;
          height: auto !important;
          height: 400px;
        }        
    </style>

    <script type="text/javascript">
      $(function () {
        
        $('#qr').surlamobi({
          interaction: {
            type: 'FileUpload'
          },
          message: onMessage,
          done: onDone
        });

        function onMessage(data, context) {
          for (var i in data) {
            var message = data[i];
            if (message) {
              if (message.hello) {
                $('#actionCall').text('Now picture on your phone...');
                $('#qr').text('');
              }
              else if (typeof message.uri === 'string' 
                  && typeof message.contentType === 'string'
                  && message.contentType.match(/^image/)) {
                  $('#qr').append('<a href="' + message.uri + '" target=_blank>'
                      + '<img src="' + message.uri + '" width=200 height=200 /></a>');
              }
              else {
                  $('#qr').html('<p class="lead">The uploaded file is not an image</p>');
              }          
            }
          }
        }

        function onDone() {
          $('#actionCall').text('Thank you for uploading your pictures.')
        }
      });
    </script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span4 sm-center">
          <p id="actionCall" class="lead">Scan the code to upload a picture from your phone</p>
          <div id="qr" class="sm-qr"></div>
        </div>
        <div class="span4">
            <p class="lead">Need help scanning?</p>
            <p>You must have a QR code reader app installed on your phone. Search for <em>QR reader</em> in 
            the app store, or use the following recommendations:</p>
            <ol>
              <li><strong>iPhone</strong>: <em>QR Reader for iPhone</em> by TapMedia Ltd.</li>
              <li><strong>Android</strong>: <em>Scan</em> by Scan Inc.</li>
              <li><strong>Windows Phone</strong>: unfortunately Windows Phone is not supported by this plugin. While there
              are many QR scanning apps for Windows Phone, the mobile Internet Explorer does not support uploading files. 
            </ol>
            <p>After scanning the QR code your phone will open a mobile browser and navigate to a http://surla.mobi website 
            with further instructions. 
        </div>
      </div>   

      <hr>

      <footer>
        <div class="row">
            <div class="span2">
                &copy; <a href="http://tomasz.janczuk.org" target=_blank>Tomasz Janczuk</a> 2012
            </div>
        </div>
      </footer>       


    </div> <!-- /container -->
  </body>
</html>