<!DOCTYPE html>
<!-- This surla.mobi page has loaded (do not remove this comment) -->
<html>
  <head>
    <% include ../head.common.ejs %>
    <script src="/scripts/surlamobi.js"></script>
    <style>
        .sm-center { text-align: center; }
        .sm-middle { 
          margin-top:220px; 
        }
        .sm-qr {
          min-height: 350px;
          height: auto !important;
          height: 350px;
        }        
        .sm-step {
          min-height: 440px;
          height: auto !important;
          height: 440px;
        }
        img { 
          max-width: 350px;
          max-height: 350px;
          height: auto;
          width: auto;
        }
        body {
          margin: 10px;
        }
    </style>

    <script type="text/javascript">
      $(function () {

        $('#qr').surlamobi({
          accountId: 'windowslivewriter',
          key: 'free',
          interaction: {
            size: 350,
            type: 'FileUpload',
            multipleFiles: false
          },
          message: onMessage,
          error: onError
        });

        function onMessage(data, context) {
          for (var i in data) {
            var message = data[i];
            if (message) {
              if (message.hello) {
                $('#step1').hide();
                $('#step2').show();
              }
              else if (typeof message.uri === 'string' 
                  && typeof message.contentType === 'string'
                  && message.contentType.match(/^image/)) {
                  $('#message').text('Picture uploaded. Processing...');
                  window.external.PictureUploaded(message.uri, message.contentType);
              }
              else {
                  $('#message').text('The uploaded file is not an image.');
              }          
            }
          }
        }

        function onError(context) {
          var content = '<p class="lead">Houston, we have a problem.</p>';
          if (context.params && context.relayParams.id) {
            content += '<p class="small">Please report it <a href="https://github.com/tjanczuk/SurlaLive/issues" target=_blank>here</a> '
              + 'and reference ' + context.relayParams.id + '</p>'
          }
          else {
            content += '<p class="small">Try again. If the problem persists, please report it '
            + '<a href="https://github.com/tjanczuk/SurlaLive/issues" target=_blank>here</a>.';
          }

          $('#messageContainer').html(content);

          if (context.relayParams && context.relayParams.id) {
            window.external.UploadError(context.relayParams.id);
          }
          else {
            window.external.UploadError('undefined');
          }
        }

      });
    </script>

  </head>
  <body>
    <div class="container">
      <div class="row sm-step" id="step1">
        <div class="span5 sm-center">
          <p id="actionCall" class="lead">Scan the code to upload a picture<br>from your phone</p>
          <div id="qr" class="sm-qr"></div>
        </div>
        <div class="span4">
            <p class="lead">Need help scanning?</p>
            <p>You must have a QR code reader app installed on your phone. Search for <em>QR reader</em> in 
            the app store, or use the following recommendations:</p>
            <ol>
              <li><strong>iPhone</strong>: <a href="https://itunes.apple.com/us/app/qr-reader-for-iphone/id368494609?mt=8" target=_blank>
                QR Reader for iPhone</a> by TapMedia Ltd.</li>
              <li><strong>Android</strong>: <a href="https://play.google.com/store/apps/details?id=me.scan.android.client" target=_blank>
                Scan</a> by Scan Inc.</li>
              <li><strong>Windows Phone</strong>: unfortunately Windows Phone is not supported by this plugin. If you care, please 
              <a href="http://windowsphone.uservoice.com/forums/101801-feature-suggestions/suggestions/2343183-upload-files-via-browser" target=_blank>
              vote up this feature request</a> for a missing file upload feature in the mobile Internet Explorer.  
            </ol>
            <p>After scanning the QR code your phone will open a mobile browser and navigate to the http://surla.mobi website 
            for the final picture selection and upload step.</p>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://tomasz.janczuk.org/2013/01/paste-photos-from-your-phone-directly.html" data-via="tjanczuk" 
               data-size="small" data-text="Insert pictures from your smartphone into the Windows Live Writer" data-hashtags="surlamobi">Tweet</a> 
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            <!-- Place this tag where you want the +1 button to render. -->
            <span class="g-plusone" data-size="medium" data-href="http://tomasz.janczuk.org/2013/01/paste-photos-from-your-phone-directly.html"></span>
            <!-- Place this tag after the last +1 button tag. -->
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
        </div>
      </div>   
      <div class="row sm-step" id="step2" style="display: none">
        <div class="span9 sm-center sm-middle" id="messageContainer">
          <p class="lead" id="message">Now choose a picture on your phone...</p>
        </div>
      </div>

      <footer>
        <div class="row">
            <div class="span9 sm-center">
                <hr>
                &copy; 2013 by <a href="http://tomasz.janczuk.org" target=_blank>Tomasz Janczuk</a> | 
                <a href="http://tomasz.janczuk.org/2013/01/paste-photos-from-your-phone-directly.html" target=_blank>About</a> | 
                <a href="https://github.com/tjanczuk/SurlaLive/issues" target=_blank>Feedback</a>
            </div>
        </div>
      </footer>       

    </div> <!-- /container -->
  </body>
</html>