<!DOCTYPE html>
<html>
  <head>
    <% include ../head.common.ejs %>
    <script src="/scripts/surlamobi.js"></script>
    <style>
        .sm-center { text-align: center; }
        .sm-qr {
          min-height: 350px;
          height: auto !important;
          height: 350px;
        }        
        img { 
          max-width: 350px;
          max-height: 350px;
          height: auto;
          width: auto;
        }
        body {
          margin: 10px;
        }
    </style>

    <script type="text/javascript">
      $(function () {
        
        $('#qr').surlamobi({
          interaction: {
            size: 350,
            type: 'FileUpload'
          },
          message: onMessage,
          done: onDone
        });

        function onMessage(data, context) {
          for (var i in data) {
            var message = data[i];
            if (message) {
              if (message.hello) {
                $('#actionCall').text('Now choose a picture on your phone...');
                $('#qr').text('');
              }
              else if (typeof message.uri === 'string' 
                  && typeof message.contentType === 'string'
                  && message.contentType.match(/^image/)) {
                  $('#actionCall').text('Picture uploaded. Processing...');
                  $('#qr').append('<img src="' + message.uri + '"/>');
                  window.external.PictureUploaded(message.uri);
              }
              else {
                  $('#qr').html('<p class="lead">The uploaded file is not an image</p>');
              }          
            }
          }
        }

        function onDone() {
          $('#actionCall').text('Thank you for uploading your pictures.');
        }
      });
    </script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span5 sm-center">
          <p id="actionCall" class="lead">Scan the code to upload a picture<br>from your phone</p>
          <div id="qr" class="sm-qr"></div>
        </div>
        <div class="span4">
            <p class="lead">Need help scanning?</p>
            <p>You must have a QR code reader app installed on your phone. Search for <em>QR reader</em> in 
            the app store, or use the following recommendations:</p>
            <ol>
              <li><strong>iPhone</strong>: <a href="https://itunes.apple.com/us/app/qr-reader-for-iphone/id368494609?mt=8" target=_blank>
                QR Reader for iPhone</a> by TapMedia Ltd.</li>
              <li><strong>Android</strong>: <a href="https://play.google.com/store/apps/details?id=me.scan.android.client" target=_blank>
                Scan</a> by Scan Inc.</li>
              <li><strong>Windows Phone</strong>: unfortunately Windows Phone is not supported by this plugin. If you care, please 
              <a href="http://windowsphone.uservoice.com/forums/101801-feature-suggestions/suggestions/2343183-upload-files-via-browser" target=_blank>
              vote up this feature request</a> for a missing file upload feature in the mobile Internet Explorer.  
            </ol>
            <p>After scanning the QR code your phone will open a mobile browser and navigate to a http://surla.mobi website 
            for the final picture selection and upload step. 
        </div>
      </div>   

      <footer>
        <div class="row">
            <div class="span9 sm-center">
                <hr>
                &copy; 2013 by <a href="http://tomasz.janczuk.org" target=_blank>Tomasz Janczuk</a> | 
                Powered by <a href="http://surla.mobi" target=_blank>surla.mobi</a> | 
                Visit the project on <a href="https://github.com/tjanczuk/SurlaLive/issues" target=_blank>GitHub</a>
            </div>
        </div>
      </footer>       

    </div> <!-- /container -->
  </body>
</html>