<!DOCTYPE html>
<html>
  <head>
    <% include ../head.common.ejs %>
    <script src="/scripts/surlamobi.js"></script>
    <style>
        .sm-icon { display: inline-block; background-size: 100%; width: 100px; height: 100px; text-indent: -999em; text-align: left; }
        .sm-center { text-align: center; }
        .sm-qr {
          min-height: 400px;
          height: auto !important;
          height: 400px;
        }        
    </style>

    <script type="text/javascript">
      $(function () {
        $('#qr').surlamobi({
          interaction: {
            type: 'Sniffer'
          },
          message: onMessage
        });

        function onMessage(data, context) {
          $('#qr')
            .html('<pre>' + $('<div/>').text(JSON.stringify(data[0], null, 2)).html() + '</pre>')
            .css('text-align', 'left');
        }        
      });
    </script>

  </head>
  <body>
    <div class="container">
      <%include ../header.common.ejs %>
      <div class="row">
        <div class="span8 sm-center">
          <p><span class="lead">Scan the code to find out how much web sites you visit from the phone<br>know about you</span><br>
          <div id="qr" class="sm-qr"></div>
        </div>
        <div class="span4">
            <p class="lead">How it works</p>
            <p>Web site creates a temporary mailbox in the cloud and displays QR code with the mailbox address. 
            Mary scans the QR code with her phone and opens the mailbox site in the browser.
            The HTTP request headers of the request Mary's phone made are sent to the mailbox. 
            Web site fetches the information from the mailbox.
            <p class="lead">Applications</p>
            <ul>
              <li>Privacy awareness</li>
            </ul>
        </div>
      </div>   

      <hr/>

      <footer>
        <div class="row">
            <div class="span2">
                &copy; surla.mobi 2012
            </div>
            <div class="span3 offset7" class="muted" style="text-align: right">
                <a href="/noun">The Noun Project Attributions</a>
            </div>
        </div>
      </footer>       
    </div> <!-- /container -->
  </body>
</html>