<!DOCTYPE html>
<html>
  <head>
    <% include ../head.common.ejs %>
    <script src="/scripts/surlamobi.js"></script>
    <style>
        .sm-icon { display: inline-block; background-size: 100%; width: 100px; height: 100px; text-indent: -999em; text-align: left; }
        .sm-icon.upload { background: url("images/noun_project_6172.svg"); }
        .sm-center { text-align: center; }
        .sm-qr {
          min-height: 400px;
          height: auto !important;
          height: 400px;
        }        
    </style>

    <script type="text/javascript">
      $(function () {
        $('#qr').surlamobi({
          maxQueueLength: 2,
          interaction: {
            type: 'FileUpload'
          },
          message: onMessage
        });

        function onMessage(data, context) {
          for (var i in data) {
            var message = data[i];
            if (message) {
              if (message.hello) {
                $('#qr').html('<p class="lead">File upload in progress...</p>');
                $('#actionCall').hide();
              }
              else if (typeof message.uri === 'string' 
                  && typeof message.contentType === 'string'
                  && message.contentType.match(/^image/)) {
                  $('#qr').html('<p class="lead">Thank you for uploading an image!</p>'
                    + '<p><img src="' + message.uri + '" width=400 height=400 /></p>');
              }
              else {
                  $('#qr').html('<p class="lead">The uploaded file is not an image</p>');
              }          
            }
          }
        }
      });
    </script>

  </head>
  <body>
    <div class="container">
      <%include ../header.common.ejs %>
      <div class="row">
        <div class="span8 sm-center">
          <p id="actionCall"><span class="lead">Scan the code to upload a picture from your phone to this web site</span><br>
          <span class="muted small"><em>(Works with Android phones and Windows Surface only. Support for iPhone and Windows Phone coming soon.)</em></span></p>
          <div id="qr" class="sm-qr"></div>
        </div>
        <div class="span4">
            <p class="lead">How it works</p>
            <p>Mary scans the QR code with her phone and uploads a picture to surla.mobi. The picture is relayed back to the browser. 
            <p class="lead">Applications</p>
            <ul>
              <li>Picture sharing sites</li>
              <li>Selling online (craigslist, ebay)</li>
              <li>Blog authoring sites</li>
              <li>Content editing sites</li>
            </ul>
        </div>
      </div>   

      <hr/>

      <footer>
        <div class="row">
            <div class="span2">
                &copy; surla.mobi 2012
            </div>
            <div class="span3 offset7" class="muted" style="text-align: right">
                <a href="/noun">The Noun Project Attributions</a>
            </div>
        </div>
      </footer>       
    </div> <!-- /container -->
  </body>
</html>