<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>surla.mobi remote control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bridging the gap between web, brick, and mobile">
    <meta name="author" content="Tomasz Janczuk">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/scripts/gesture_detector.js"></script>
    <style>
      html {
        overflow: hidden;
        -ms-content-zooming: none;
        -ms-touch-action: none;

        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

      }
      html, body { 
        margin: 0; 
        width: 100%; 
        height: 100%;
        text-align: center;
      }
      *.error { 
        color: red; 
      }
    </style>
  </head>
  <body unselectable="on">
    <h1>Remote control</h1>
    <p>Tap, double tap, drag, move, pinch.<br> 
    Events emitted: <span id="counter">0</span><br>
    Messages sent: <span id="posts">0</span><br>
    <span id="error" class="error">&nbsp;</span></p>
    <p>Thank you for using http://surla.mobi</p>        
    <script type="text/javascript">  
        var relayUrl = '<%= relayUrl %>';
        var body = document.getElementsByTagName('body')[0];
        var counter = document.getElementById('counter');
        var posts = document.getElementById('posts');
        var gd = new GestureDetector(body, { holdEvents: <%= holdEvents %> });
        var cacheInterval = <%= cacheInterval %>;
        var eventCount = 0;
        var postCount = 0;
        var events;
        var communicationErrors = 0;
        var interval;
        var failed;
        var activePost;
        var postedEvents;
        
        gd.startDetecting();

        addHandler('tap');
        addHandler('dbltap');
        addHandler('pan');
        addHandler('swipe');
        addHandler('holdstart');
        addHandler('holdmove');
        addHandler('holdend');
        addHandler('transform');

        if (cacheInterval > 0) {
          interval = setInterval(send, cacheInterval);
        }

        emit({ type: 'hello' });

        function addHandler(eventType) {
          body.addEventListener(eventType, function (event) {
            var details = { type: eventType };
            $.extend(true, details, event.detail);
            emit(details);
          }, true);
        }

        function emit(details) {
          if (failed) {
            return;
          }

          eventCount++;
          counter.innerHTML = eventCount + '';
          if (events) {
            events.push(details);
          }
          else {
            events = [ details ];
          }

          if (cacheInterval == 0) {
            send();
          }
        }

        function send() {
          if (activePost || !events) {
            return;
          }

          activePost = true;
          postedEvents = events.length;
          postCount++;
          posts.innerHTML = postCount + '';

          $.ajax({
              type: 'POST',
              url: relayUrl,
              contentType: 'application/json',
              data: JSON.stringify(events),
              processData: false,
              success: function(data, statusText, xhr) {
                  activePost = false;                  
                  if (xhr.status === 200) {
                    communicationErrors = 0;
                    if (events.length === postedEvents) {
                      events = undefined;
                    }
                    else {
                      events.splice(0, postedEvents);
                      if (cacheInterval == 0) {
                        send();
                      }
                    }                    
                  }
                  else {
                    fail('Communication error: ' + xhr.status);
                  }
              },
              error: function(xhr, statusText, err) {
                  activePost = false;
                  communicationErrors++;
                  if (communicationErrors == 5) {
                    fail('Communication error: ' + (xhr.status > 0 ? xhr.status : 'unable to connect to surla.mobi relay'));
                  }
              }
          });          
        }

        function fail(error) {
          if (interval) {
            clearInterval(interval);
          }

          document.getElementById('error').innerHTML = error;
          failed = true;
        }
    </script>    
  </body>
</html>
